.section {
  padding: 20px 0px 0px;
  text-align: center;
}

.container {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 23;
  -webkit-box-orient: vertical;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
