.section {
  padding: 20px 0px 0px;
  text-align: center;
}

.title {
  margin: 0px 0px 20px;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.container {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.subtitle {
  margin: 0px 0px 15px;
  font-size: 20px;
  font-weight: 600;
}

.text {
  margin: 0px 0px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.4px;
}

.button {
  margin: 20px 0px 0px;
  min-width: 100px;
  padding: 8px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(248, 100, 14);
  border-radius: 8px;
  border: none;
  outline: none;
}
