.section {
  padding: 20px 0px 0px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.item {
  width: calc((100% - 120px) / 5);
  height: 300px;
  margin-top: 40px;
  margin-right: 30px;
  padding: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.item:nth-child(5n + 5) {
  margin-right: 0px;
}

.item:nth-child(-n + 5) {
  margin-top: 0px;
}
