.button {
  display: inline-block;
  margin-top: 15px;
  min-width: 100px;
  padding: 8px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(248, 100, 14);
  border: none;
  outline: none;
  border-radius: 8px;
}
